/* Bendras stilius: */




/* Vardas1 stiliaus kodas: */





/* Julija stiliaus kodas: */

.book-list div.col.s3 button {
  margin-top: 30px;
  margin-bottom: 10px;
}


/* Jurga stiliaus kodas: */
div.vspace{

  padding-top: 30px;
  padding-bottom: 25px;
}
div.bookinfo{
  font-weight: bold;
 border-style: double; 
 border-color: black;
 background-color: cornsilk;
 padding-bottom: 25px;
}
.book_des {font-weight: bold;}

.checked {
  color: orange;
}
div.brief{
  font-weight: bold;
  padding-top: 25px;
}
div.vertinimas {
  padding-bottom: 50px;
}

/* Gediminas stiliaus kodas: */

/* .foto  {
  width: 10px;
} */



/* Eldar stiliaus kodas: */
p.flow-text {
  margin-top: 0;
}
div.col.s3 {
  margin-top: 12px;
}
div.col.s3 p {
  margin-top: 0;
  margin-bottom: 5px;
}
div.col.s3 button {
  margin-top: 0;
  margin-bottom: 10px;
}
img.aukstis {
  height: 300px;
}