/* Bendras stilius: */




/* Vardas1 stiliaus kodas: */





/* Vardas2 stiliaus kodas: */





/* Jurga stiliaus kodas: */
div.vspace{

  padding-top: 25px;
}
div.bookinfo{
 border-style: double; 
 border-color: black;
}






/* Eldar stiliaus kodas: */
p.flow-text {
  margin-top: 0;
}
div.col.s3 {
  margin-top: 12px;
}
div.col.s3 p {
  margin-top: 0;
  margin-bottom: 5px;
}
div.col.s3 button {
  margin-top: 0;
  margin-bottom: 10px;
}